@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Roboto Condensed", sans-serif;
}

header {
    width: 100vw;
    margin-top: 1%;
}

.main-nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 1%;
}

.nav-item {
    display: flex;
    gap: 1.5em;
}

.nav-item a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-item a:hover {
    color: darkblue;
}

.nav-btn {
    background-color: blue;
    color: white;
    padding: 0.7em 2em;
}

/*hero-section*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5em;
    font-family: "Bubbler One", sans-serif;
}

.hero-content {
    width: 55%;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content p {
    font-size: 24px;
}

.hero-btns {
    display: flex;
    gap: 1em;
    margin: 5em 0;
}

.btn {
    padding: 0.5em 2.5em;
    font-size: 20px;
    cursor: pointer;
}

.first {
    background: blue;
    color: white;
    border: none;
}

.second {
    background: transparent;
    color: blue;
    border: 1px solid blue;
}

.hero-cards {
    display: flex;
    gap: 20px;
}

.card {
    border: 2px solid blue;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    text-align: center;
}

.card h3 {
    color: #333;
    margin-top: 0;
    font-size: 22px;
}

.hero-image img {
    max-width: 500px;
}


/*about-section*/

.about{
    font-family: "Bubbler One", sans-serif;
    text-align: center;
    margin-top: 100px;
}

.about-info {
    position: relative;
}

.about-card {
    max-width: 230px;
    border: 2px solid blue;
    text-align: center;
    padding-bottom: 2em;
    position: absolute;
}

.about-card.first-card {
    left: 10%;
    top: 300px;
}

.about-card.second-card {
    right: 10%;
    top: 60px;
}

.about-card.third-card {
    right: 10%;
    top: 500px;
}

.about-image {
    position: absolute;
    left: 34%;
    top: 50%;
}

.about-image img {
    width: 500px;
}


/*footer*/

footer {
    background: blue;
    color: white;
    margin-top: 100px;
    padding-top: 50px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 30px;
}

.footer-left p{
    font-size: 18px;
}

.footer-center {
    width: 400px;
}

.subscribe {
    display: flex;
    gap: 10px;
}

.subscribe input {
    flex: 1;
    padding: 10px;
    border: none;
}

.subscribe button {
    color: black;
    background: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}