@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
}

header {
    width: 100vw;
    margin-top: 1%;
}

.main-nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 1%;
}

.nav-item {
    display: flex;
    gap: 1.5em;
}

.nav-item a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-item a:hover {
    color: darkblue;
}

.nav-btn {
    background-color: blue;
    color: white;
    padding: 0.7em 2em;
}

/*hero-section*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    width: 55%;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content p {
    font-size: 24px;
}

.hero-btns {
    display: flex;
    gap: 1em;
}

.btn {
    padding: 0.5em 2.5em;
    font-size: 20px;
    cursor: pointer;
}

.first {
    background: blue;
    color: white;
    border: none;
}

.second {
    background: transparent;
    color: blue;
    border: 1px solid blue;
}

.hero-cards {
    display: flex;
    gap: 20px;
}

.card {
    border: 2px solid blue;
    width: 30%;
    
}